<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ag Companies</title>
    <style type="text/css" media="screen">
     * {
       margin: 0; 
       padding: 0;
     }
     div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #00673C; 
       width: 100%; 
     }
     div#banner-content { 
       width: 600px; 
       margin: 0 auto; 
       padding: 70px; 
     }
     div#main-content { 
       padding-top: 250px;
       
    }
    </style>
</head>

<body>
  <div id="banner">
    <div id="banner-content">
    <center><font size="2" color="white" face="verdana"><a href = '/'>Back Home</a></font></center>
    </div>
  </div>
  <div id="main-content">
    <center><font size="2" color="black" face="verdana">Agriculture Companies<br><br>
    HeavyConnent<br><br>
    Mann's Farms<br><br>
    Taylor Farms<br><br>
    Etc.<br><br></font>
    </center>
  </div>
</body>