<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test</title>
    <style type="text/css" media="screen">
     * {
       margin: 0; 
       padding: 0;
     }

     div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #00673C; 
       width: 100%; 
     }
     div#banner-content { 
       width: 550px; 
       margin: 0 auto; 
       padding: 70px; 
       border: 1px solid #000;
     }
     div#main-content { 
       padding-top: 70px;
    }
    </style>
</head>

<body>
    <div id="banner">
    <div id="banner-content">
     <font size="3" color="white" font-family="verdana"><a href = '/'>Home</a>  |  <a href = '/'>Equipment Log</a>  |  <a href = '/'>Farmers Connect</a></font>
    </div>
  </div>
  <div id="main-content">
      {% for i in range (5) %}
     <br>
     {% endfor %}
    <center><table border = "1">
        <tr>
            <td><b>Equipment Name</b></td>
            <td><b>Number Available</b></td>
            <td><b>Max Hours</b></td>
            <td><b>Current Renters</b></td>
        </tr>
        {% for i in range (5) %}
        <tr>
            <td>{{ equipmentList[i] }}</td>
            <td>{{ equipmentNumAvailability[i] }}</td>
            <td>{{ equipmentMaxHours }}</td>
            <td>{{ equipmentCurrentRenters }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
    <center>
        <button>Add Equipment</button>
        <button>Check Out Equipment</button>
    </center>
  </div>
    
</body>