<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test</title>
    <style type="text/css" media="screen">
     * {
       margin: 0; 
       padding: 0;
     }

     div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #00673C; 
       width: 100%; 
     }
     div#banner-content { 
       width: 550px; 
       margin: 0 auto; 
       padding: 70px; 
       border: 1px solid #000;
     }
     div#main-content { 
       padding-top: 70px;
    }
    </style>
</head>

<body>
  <div id="banner">
    <div id="banner-content">
     <font size="3" color="white" font-family="verdana">Home  |  Farmer's Connect  |  Equipment Log  |  Worker's Schedules</font>
    </div>
  </div>
  <div id="main-content">
     {% for i in range (5) %}
     <br>
     {% endfor %}
    {{ output }}
  </div>
</body>